{% extends 'base.html' %}

{% block content %}

<ul list-group>
    {% for member in members %}
        <li class="list-group-item my-2 rounded">
            <div class="list-group-text">
                <b><a href="# ">{{member.user.username|title}}</a></b>
            </div>
        </li>
    {% endfor %}
</ul>

{% if members.has_other_pages %}
    <ul class="pagination">
        {% if members.has_previous %}
            <li><a class="btn btn-dark" href="?page={{members.previous_page_number}}">&laquo;</a></li>
        {% else %}
            <li class="btn btn-dark disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in members.paginator.page_range %}
            {% if members.number == i %}
                <li><span class="btn btn-dark active">{{i}}</span></li>
            {% else %}
                <li><a class="btn btn-dark" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        
    </ul>
{% endif %}


{% endblock content %}