{% extends 'base.html' %}

{% block content %}

    <h1>Home Page</h1>

    <table class="table-bordered">
        <thead>
            <th>Book Title</th>
            <th>Author</th>
            <th>Page</th>
            <th>Published on</th>
        </thead>
        <tbody>
            {% for book in all_books %}
                <tr>
                    <td>{{book.name}} </td>
                    <td>{{book.author}} </td>
                    <td>{{book.pages}} </td>
                    <td>{{book.published_on}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}