{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
<div class="col-md-8">
    <div class="container-fluid px-auto">
        <div class="alert alert-success">
            <h1>This is Summary</h1>
            {{book.summary}}
        </div>
    </div>

</div>

<div class="col-md-4 float-right text-center">
    
        <div class="card-avatar">
            <a href="#pablo">
        {% if book.photo %}
            <img class="card-img-top" src="{{book.photo.url}} " />
        {% endif %}   
            </a>
        </div>
        <div class="card-body">
            <h6 class="card-category text-gray">{{book.genre}}</h6>
            <h4 class="card-title">{{book.name}} </h4>
            <p class="card-description">
            {{book.author.name}}
            </p>
            <span class="btn btn-dark btn-round">{{book.published_on|timesince}} </span>
        </div>
    
</div>
</div>
{% endblock content %}

 